" .ideavimrc is a configuration file for IdeaVim plugin. It uses
"   the same commands as the original .vimrc configuration.
" You can find a list of commands here: https://jb.gg/h38q75
" Find more examples here: https://jb.gg/share-ideavimrc

let mapleader=' '

set scrolloff=8
set sidescrolloff=5
set incsearch
set ignorecase
set smartcase
set clipboard^=unnamedplus,unnamed
set NERDTree
set quickscope

Plug 'machakann/vim-highlightedyank'
Plug 'tpope/vim-commentary'

set nohlsearch

vmap J :m '>+1<CR>gv=gv
vmap K :m '<-2<CR>gv=gv

nmap H ^
nmap L $

vmap H ^
vmap L $

nmap <C-d> <C-d>zz
nmap <C-u> <C-u>zz
nmap n nzz
nmap N Nzz

nmap <c-j> <c-w>j
nmap <c-k> <c-w>k
nmap <c-h> <c-w>h
nmap <c-l> <c-w>l

nmap s <Action>(AceAction)

nmap <leader>zt <Action>(ToggleZenMode)

nmap <leader>a <Action>(AddToHarpoon)
nmap <c-e> <Action>(ShowHarpoon)
nmap <c-n> <Action>(GotoHarpoon1)
nmap <c-v> <Action>(GotoHarpoon2)
nmap <c-c> <Action>(GotoHarpoon3)

nmap <leader>sf <Action>(GotoFile)
nmap <leader>sg <Action>(FindInPath)

nmap <leader>pv <Action>(SelectInProjectView)
nmap [d <Action>(GotoPreviousError)
nmap ]d <Action>(GotoNextError)
nmap <leader>e <Action>(ShowErrorDescription)
nmap <leader>ca <Action>(ShowIntentionActions)

nmap gI <Action>(GotoImplementation)
nmap gr <Action>(FindUsages)
nmap <leader>rn <Action>(RenameElement)

nmap <c-y> <Action>(EditorChooseLookupItem)
imap <c-y> <Action>(EditorChooseLookupItem)

vnoremap <leader>d "_d
vnoremap <leader>c "_di
vnoremap <leader>p "_dP
